:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-light .page {
  --header-bg-image: url(/images/cover-image-light.png);

  --main-title-color: #ffc2e6;
  --accent-color: #353430;
  --second-color: #353430;
  --article-text-color: #353430;
  --hover-buttton-border-color: #32312d66;

  --page-bg-color: #fff1f7;
  --font-bg-color: #ff8dcb;

  --rec-visibility: hidden;
}
